<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <img src="http://static.squarespace.com/static/52142586e4b0c09536a144ad/t/52142b91e4b0ca84969c54ab/1381986279816/?format=100w" >
</div>
<h1 id="title">Start/Join a chat room</h1>
        <p class="join_link"></p>
        <form class="room_form">
          <label id="room_label" for="room">Room:</label><input id="room">
          <label id="nick_label" for="nick">Nickname:</label><input id="nick">
          <button id="room_btn">Create/Join Room</button>
        </form>

        <h2>Chat</h2>
        <div class="chat_container">
          <ul id="messages"></ul>
        </div>
        <form id="chat_form">
          <label>Type messages here (press Enter to send)</label><textarea></textarea>
        </form>