<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Settings</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <img src="http://static.squarespace.com/static/52142586e4b0c09536a144ad/t/52142b91e4b0ca84969c54ab/1381986279816/?format=100w">
</div>

<div class="jumbotron">
  <h1>Panasonic WebConference</h1>
  <p><a class="btn btn-lg btn-success" ng-click="name(confname)">Join the Conference!</a></p>
</div>

<div class="row marketing">
  <h4>Custom Name</h4>
  <input type="text" class="form-control"  ng-model="confname" placeholder="Enter an optional name for your conference.">
</div>
